*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Verdana, sans-serif;
    background:#9e9090;
    color:#222;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:30px 15px;
}

header p{
    margin-top:8px;
    font-size:14px;
}

main{
    width:90%;
    max-width:800px;
    margin:30px auto;
}

.form-section,
.subjects-section{
    background:white;
    padding:20px;
    border:1px solid #ddd;
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
    font-size:20px;
}

label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    font-size:15px;
}

button{
    padding:10px 18px;
    border:none;
    background:#043216;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#000000;
}

.empty-state{
    padding:20px;
    text-align:center;
    border:1px dashed #bbb;
    color:#666;
}

@media (max-width:600px){

    main{
        width:95%;
    }

    header{
        padding:25px 10px;
    }
}

.subject-card{
    border:1px solid #dcdcdc;
    padding:15px;
    margin-top:15px;
    background:#fafafa;
}

.subject-card h3{
    margin-bottom:8px;
    font-size:18px;
}

.subject-card p{
    color:#555;
    font-size:14px;
}

.delete-btn{
    margin-top:10px;
    background:#dc2626;
}

.delete-btn:hover{
    background:#b91c1c;
}

.task-area{
    margin-top:15px;
}

.task-input{
    margin-bottom:10px;
}

.task-btn{
    margin-bottom:10px;
    background:#043216;
}

.task-list{
    margin-left:20px;
}

.task-list li{
    margin-bottom:6px;
    color:#333;
}

.task-check{
    margin-right:8px;
}

.task-list label{
    cursor:pointer;
}

.task-list li{
    list-style:none;
}

.progress-wrapper{
    margin:12px 0;
}

.progress-bar{
    height:10px;
    background:#dcdcdc;
    border-radius:4px;
    overflow:hidden;
}

.progress-fill{
    height:100%;
    width:0%;
    background:#0f6b2f;
}

.progress-text{
    font-size:13px;
    color:#555;
    margin-bottom:5px;
}

.countdown-text{
    margin-top:6px;
    margin-bottom:12px;
    font-size:14px;
    color:#444;
}

#clear-all-btn{
    margin-left:10px;
    background:#444;
}

#clear-all-btn:hover{
    background:#222;
}

.edit-btn{
    margin-right:8px;
    background:#1f4b8f;
}

.edit-btn:hover{
    background:#17396d;
}
